.authInput {
  padding: 4px 8px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.authInput:hover {
  border-color: #22c55e;
}

.authInput:focus {
  border-color: #a855f7;
}
